body {
    font-family: 'Roboto', Arial, sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #212529;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    width: 80%;
    max-width: 500px;
}

.main-title {
    color: #343a40;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    color: #495057;
    font-size: 18px;
    margin-bottom: 25px;
}

.form-button {
    margin: 15px 0;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
}

.post-btn {
    background-color: #6f42c1; /* Purple color */
}

.btn:hover {
    background-color: #0056b3;
}

.post-btn:hover {
    background-color: #5a2ea6; /* Darker purple on hover */
}
.subtract-btn {
    background-color: #e83e8c; /* Pink color */
}

.subtract-btn:hover {
    background-color: #28a745; /* Darker pink on hover */
}


/* #28a745 */

