<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter Service Application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="main-title">Welcome To Counter Application</h1>
        <h3>Counter value: {{ counter }}</h3>
        <form action="/add" method="post" class="form-button">
            <button type="submit" class="btn post-btn">Add</button>
        </form>
        <form action="/subtract" method="post" class="form-button">
            <button type="submit" class="btn subtract-btn">Subtract</button>
        </form>
    </div>
</body>
</html>
